/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
#woocommerce-advanced-shipment-tracking .inside {
	padding: 12px;
	margin: 0
}
#woocommerce-advanced-shipment-tracking .button-show-form {
	margin: 0
}
#woocommerce-advanced-shipment-tracking #shipment-tracking-form {
	display: none
}
#woocommerce-advanced-shipment-tracking #shipment-tracking-form p.form-field {
	margin-top: 0
}
#woocommerce-advanced-shipment-tracking input[type=text] {
	width: 100%
}
#woocommerce-advanced-shipment-tracking input[type=checkbox]{
	margin: 0px 4px 0 4px;
}
#woocommerce-advanced-shipment-tracking .preview_tracking_link {
	display: none;
	margin-bottom: 0
}
#woocommerce-advanced-shipment-tracking .preview_tracking_link a {
	padding: 0 16px 0 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVQYV2NkIBIwoqtTLJn9H13sfk8qI4ZCkCJ0xTgVoisGK0TWDRKAKQKxYXJwhTAFyIpg7gQpRlGIrBtbQICNR7cGJoasAa4QWRCnQmxWIbsbJA8AqXxEC1jaCvYAAAAASUVORK5CYII=) no-repeat right
}
#woocommerce-advanced-shipment-tracking .meta {
	font-size: 11px;
	color: #999;
	padding: 10px;
	margin: 0
}
#woocommerce-advanced-shipment-tracking .meta a.delete-tracking {
	color: #a00
}
#woocommerce-advanced-shipment-tracking #tracking-items {
	margin: 0
}
#woocommerce-advanced-shipment-tracking .tracking-content {
	background: #efefef none repeat scroll 0 0;
	padding: 10px;
	position: relative;
	margin: 0
}
#woocommerce-advanced-shipment-tracking .tracking-content:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -10px;
	left: 20px;
	width: 0;
	height: 0;
	border-width: 10px 10px 0 0;
	border-style: solid;
	border-color: #efefef transparent
}
section.tab_section {
	display: none;
	padding: 10px 0;
	border-top: 1px solid #ddd;
	background: #f9f9f9;
}
section.tpage_section{
	display: none;
}
input.tab_input {
	display: none;
}
label.tab_label {
	display: inline-block;
	font-weight: 600;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 24px;
	background: #efefef;
	color: #071d57;
}
label.tab_label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
label.tab_label:hover {
	color: #83bd31;
	cursor: pointer;
}
input.tab_input:checked + label {
	background: #f9f9f9;
	color: #83bd31;
	border-bottom: 1px solid #f9f9f9;
	margin-bottom: -1px;
}
input.tab_input_1 {
	display: none;
}
input.tab_input_1 + label{
	color: #0073aa;
	vertical-align:top;
}
input.tab_input_1:checked + label{
	color: #888;
	font-weight: 400;
    border: none;
}
.tab_inner_container {
	padding: 0;
	display: table-cell;
    vertical-align: top;
	padding-right: 20px;
}
#content1 .tab_inner_container{
	display: block;
}
.tab_inner_container h4 {
	margin-top: 0;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6, #tab7:checked ~ #content7, #tab8:checked ~ #content8, #tab9:checked ~ #content9, #tab10:checked ~ #content10 {
	display: block;
}
.shipping_add_field {
	width: 300px;
}
#adminmenuwrap {
	position: relative !important;
}
.ast_admin_content {
	width: 100%;	
	vertical-align: top;
	padding-right: 20px;
}
.zorem_admin_sidebar {
	width: 260px;
	padding-right: 20px;
	display: table-cell;
	vertical-align: top;
	padding-left: 20px;
}
.zorem-sidebar-title {
	padding: 10px 0;
	border-bottom: 1px solid #1ead94;
	color: #1ead94;
	line-height: 15px;
}
.zorem-sidebar__section {
	padding: 20px 0;
	border-bottom: 1px solid #1ead94;
}
..zorem-sidebar__section li:before {
 position: absolute;
 left: 0;
 font-weight: 700;
}
.zorem-sidebar__section ul {
	position: relative;
}
.zorem-sidebar__section li {
	list-style: none;
}
.zorem-sidebar__section li img.plugin_thumbnail {
	width: 60px;
	display: inline-block;
}
.zorem-sidebar__section li a.plugin_url {
	width: 70%;
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
	line-height: 20px;
}
.zorem-sidebar__section div a {
	color: #0085ba;
}
.shipping_provider_tab {
	width: 100%;
	display: block;
}
.shipping_provider_tab .current a {
	color: #000;
	font-weight: 600;
}
.shipping_provider_tab li:after {
	content: '|';
	margin-left: 5px;
}
.shipping_provider_tab li:last-child:after {
	display: none;
}
.shipping_provider_tab a:focus {
	box-shadow: none;
}
.wcast_shipping_country {
	max-width: 100%;
	width: 100%;
}
.shipping_provider_table input[type=text] {
	width: 100%;
}
.shipping_provider_table .check-column {
	padding: 8px 10px;
}
.shipping_provider_table .check-column input {
	margin: -4px 4px 0 8px;
}
.shipping_provider_table a.remove {
	padding: 2px 4px;
}
.zorem_admin_content .shipping_provider_table thead th {
	vertical-align: middle;
}
.column-shipping-provider {
	width: 155px;
}
.column-shipping-country {
	width: 150px;
}
.marginb20 {
	margin-bottom: 15px;
}
#wc_ast_tags {
	border: 1px solid #ccc;
	padding: 5px;
	font-family: Arial;
	background: #fff;
	width: 400px;
}
#wc_ast_tags > span {
	cursor: pointer;
	display: block;
	float: left;
	padding: 5px;
	padding-right: 25px;
	margin: 4px;
	border-radius: 6px;
	color: #000;
	background: #eee;
}
#wc_ast_tags > span:hover {
	opacity: 0.7;
}
#wc_ast_tags > span:after {
	position: absolute;
	content: "×";
	padding: 2px 5px;
	margin-left: 3px;
	font-size: 11px;
}
#wc_ast_tags > input {
	background: #eee;
	border: 0;
	margin: 4px;
	padding: 7px;
	width: auto;
}
.spinner.active {
	visibility: visible;
}
.success_msg {
	border-left: 3px solid;
	border-color: green;
	background: #fff;
	margin-top: 20px;
	padding: 10px 15px;
}
.order-status.status-delivered {
	color: #fff;
	background: #212c42;
}
#woocommerce-advanced-shipment-tracking #advanced-shipment-tracking-form {
	display: none;
}
.column-action {
	width: 50px;
}
.column-tracking-url {
	width: 30%;
}
.ast_admin_content .form-table th.titledesc {
	width: 50%;
}
.woocommerce .ast_admin_content table.form-table th label .woocommerce-help-tip{
	margin: -4px 0 0 5px;
    position: relative;
	font-size: 21px;
}
.woocommerce.zorem_admin_layout table.form-table th.th_80 {
	width: 80%;
}
.ast_admin_content .form-table .th_20 {
	width: 20%;
}
.bulk_instruction_ul {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 15px;
}
.ast_admin_content .tracking_info_design .form-table th.titledesc {
	width: 30%;
	vertical-align: middle;
}
.woocommerce .ast_admin_content table.form-table select{
	width: 100%;
	max-width:400px;
}
.ast_admin_content .form-table .wp-color-result.button {
	margin: 0 6px 0px 0;
}
#wc_ast_status_label_color {
	width: 80px;
}
.color_field input[type=text] {
	width: 80px !important;
}
table.fixed.shipping_provider_table {
	border-spacing: 0 0.5em;
	border: 0;
	background: #f9f9f9;
}
.shipping_provider_table.widefat thead th {
	border-bottom: 1px solid #eee;
	color: #83bd31;
}
tr.provider_tr {
	background: #fff;
	height: 52px;
}
.provider_tr td {
	border: 1px solid #eee;
	border-left: 0;
	border-right: 0;
}
.provider_tr td:first-child {
	border-left: 1px solid #eee;
}
.provider_tr td:last-child {
	border-right: 1px solid #eee;
	text-align: right;
}
th.manage-column.column-status {
	width: 105px;
	text-align: center;
}
td.td-action{
	text-align:right;
}
thead .mdl-list__item-secondary-action {
	margin-right: 9px;
}
.provider_tr td span.dashicons {
	color: #cccccc;
	vertical-align: middle;
	cursor: pointer;
}
.provider_tr td span.sort-item {
	cursor: move;
}
tr.provider_tr.status_deactivate {
	background: #f9f9f9;
}
tr.provider_tr td .provider_thumbnail {
	vertical-align: middle;
	margin-right: 5px;
	width: 50px;
	display: inline-block;
	border-right: 1px solid #e6e6e6;
}
tr.provider_tr td .provider_name {
	width: 60%;
	display: inline-block;
	vertical-align: middle;
}
tr.provider_tr td {
	vertical-align: middle;
}
tr.provider_tr.tr_add td {
	vertical-align: top;
}
th.manage-column.column-action {
	width: 85px;
}
.on_edit_show {
	display: none;
}
.wp-core-ui .button.on_edit_show {
	display: none;
}
.custom_provider_country {
	max-width: 100%;
	width: 100%;
}
button.button-primary.save-default-provider {
	vertical-align: middle;
}
td.column-columnname.url-column {
	text-align: center;
}
.shipping_provider_table td.thumb-column {
	padding: 0px 0px;
}
#demo-toast-example.mdl-snackbar {
	background: #4BB543;
	min-width: 100%;
	max-width: 100%;
	z-index: 100000;
}
#demo-toast-example .mdl-snackbar__text {
	float: unset;
	width: 100%;
	text-align: center;
}
#demo-toast-example .mdl-snackbar__action {
	display: none;
}
.shipping_provider_table .mdl-switch {
	width: auto;
}
.provider_tr .status-column {
	text-align: center;
}
.shipping_provider_table th a {
	padding: 8px 8px 8px;
    color: #83bd31;
}
.wp-core-ui .btn_green {
	background: #071d57;
	text-shadow: none;
	border-color: #071d57;
	box-shadow: none;
	font-size: 14px;
	line-height: 30px;
	height: 32px;
}
.wp-core-ui .btn_green2 {
	background: #83bd31;
	text-shadow: none;
	border-color: #83bd31;
	box-shadow: none;
	font-size: 14px;
	line-height: 30px;
	height: 32px;
}
.wp-core-ui .btn_red {
	background: red;
	text-shadow: none;
	border-color: red;
	box-shadow: none;
	font-size: 14px;
	line-height: 30px;
	height: 32px;
}
.wp-core-ui .btn_red:hover, .wp-core-ui .btn_red:focus {
	background: red;
	border-color: rgba(0,0,0,0.05);
	text-shadow: none;
	box-shadow: none;
	box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
}
.wp-core-ui .btn_green:hover, .wp-core-ui .btn_green:focus {
	background: rgb(35, 54, 152);
	border-color: rgba(0,0,0,0.05);
	color: #fff;
	text-shadow: none;
	box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
}
.wp-core-ui .btn_green2:hover, .wp-core-ui .btn_green2:focus {
	background: rgba(131, 189, 49, 0.8);
	border-color: rgba(131, 189, 49, 0.8);
	color: #fff;
	text-shadow: none;
	box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
}
.on_edit_show.custom_provider_name {
	margin: 10px 0;
}
#upload_image_button.on_edit_show {
	margin-top: 10px;
}
#image_path.on_edit_show {
	width: 95px;
	margin-top: 10px;
}
.woocommerce .tracking_info_design table.form-table select {
	width: 103px;
}
.woocommerce .tracking_info_design table.form-table input.regular-input, .woocommerce .tracking_info_design table.form-table input[type=text], .woocommerce .tracking_info_design table.form-table textarea {
	width: 65%;
}
#wc_ast_upload_csv_form .mdl-progress {
	width: 100%;
}
.csv_upload_status {
	margin-left: 1em;
}
.csv_upload_status li.success {
	color: green;
}
.csv_upload_status li.error {
	color: red;
}
.form-table td p{
	margin: 0;
}
#wc_ast_settings_form .form-table tr,#wc_ast_trackship_form .form-table tr,#wc_ast_upload_csv_form .form-table tr{
	border-bottom: 1px solid #eee;
}
a.settings_edit {
    margin-left: 10px;
}
input#wc_ast_api_key {
	width: 260px;
}
span.api_connected {
	color: green;
	line-height: 33px;
}
span.api_connected .dashicons.dashicons-yes {
	font-size: 30px;
	line-height: 33px;
}
.ac-container {
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container .headig_label {
	padding: 15px 20px 15px 55px;
	margin-bottom: 10px;    
	position: relative;
	z-index: 20;
	display: block;
	cursor: default;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	font-size: 14px;	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0 );
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 2px 2px rgba(0,0,0,0.1);	
}
.email_heading{
	font-size: 14px!important;
    font-weight: 600;
    text-decoration: none;
	line-height: 20px;	
}
.email_heading:focus,.email_heading:hover{
	outline:none;
	box-shadow: none;
}
.ac-container .headig_label.enable {
	background: #ffffff;
}
.ac-container .headig_label.disable {
	background: #f9f9f9;
}
.ac-container input:checked + label.headig_label:hover:after {
	background-image: url(../images/arrow_up.png);
}
.ac-container input.accordion-radio {
	display: none;
}
.ac-container article {
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article table.form-table {
	width: 65%;
	float: left;
}
.ac-container article .variable_div {
	width: 30%;
	float: right;
}
.ac-container input:checked ~ article {
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small {
	height: 930px;
	overflow: auto;
}
.ac-container table.form-table td input[type=text] {
	width: 100%;
}
.ac-container table.form-table td select {
	width: 100%;
}
.ac-container table.form-table td textarea {
	width: 100%;
	height: 150px;
}
.ac-container table.form-table th {
	padding-left: 24px;
}
#add_new_status_email_form {
	display: none;
	border: 1px solid #ddd;
	padding: 14px;
	background: #f9f9f9;
	margin-top: 10px;
}
.shippment_status_message {
	color: #ff3030;
}
.variable_div div.variable_tag {
	box-sizing: border-box;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	font-family: Consolas, Monaco, monospace;
	display: inline-block;
	/* padding: 5px; */
	font-size: 12.5px;
	margin: 0 5px 9px 0;
	text-align: center;
	background: #f5f5f5;
	border-radius: 15px;
	position: relative;
}
.variable_div div.variable_tag input {
	width: auto;
	display: inline-block;
	border: none;
	box-shadow: none;
	background: #f5f5f5;
	border-radius: 15px;
	font-size: 12px;
}
.variable_div div.variable_tag span.copy {
	color: #fff;
	font-size: .8em;
	max-width: 150px;
	background: #333;
	text-align: center;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	position: absolute;
	left: 5px;
	top: 28px;
	z-index: 100;
	display: none;
}
.variable_div div.variable_tag span.copy:after {
	content: " ";
	position: absolute;
	bottom: 100%;  /* At the top of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #333 transparent;
}
.hide_default, .wp-core-ui .button-primary.hide_default {
	display: none;
}
#add_new_status_email_form .form-table {
	width: 65%;
	float: left;
}
#add_new_status_email_form .variable_div {
	width: 30%;
	float: right;
}
.woocommerce #add_new_status_email_form table.form-table select {
	width: 100%;
}
.woocommerce #add_new_status_email_form table.form-table input[type=text] {
	width: 100%;
}
.woocommerce #add_new_status_email_form table.form-table textarea {
	width: 100%;
	height: 150px;
}
form#add_new_status_email_form:after {
	display: block;
	content: '';
	clear: both;
}
#add_new_status_email_form .form-table .wp-editor-wrap, .ac-small .form-table .wp-editor-wrap {
	width: 500px;
}
#add_new_status_email_form .form-table .wp-editor-wrap iframe, #add_new_status_email_form .form-table .wp-editor-wrap textarea {
	height: 200px !important;
}
.ac-small .form-table .wp-editor-wrap iframe, .ac-small .form-table .wp-editor-wrap textarea {
	height: 200px !important;
}
.mdl-switch.is-checked .mdl-switch__track {
	background: rgba(131, 189, 49, 0.5) !important;
}
.mdl-switch__ripple-container .mdl-ripple {
	background: #83bd31 !important;
}
.mdl-switch.is-checked .mdl-switch__thumb {
	background: #83bd31 !important;
}
span.email_status_span i {
	vertical-align: middle;	
	cursor:default;
	 line-height: 1.5;
}
span.email_status_span i:hover,span.email_status_span i:focus{
	outline:none;
}
span.email_status_span i.enable {
	color: #83bd31;
}
.ast-shipment-status i {
	font-size: 18px;
}
.label_content {
	font-weight: 600;
	padding: 12px;
}
.ac-container article .variable_div.variable_before_content {
	display: none;
}
#add_new_status_email_form .variable_div.variable_before_content {
	display: none;
}
.wcast-shipment-status-icon {
	float: left;
	margin-bottom: 1px;
	margin-right: 10px;
}
.wcast-shipment-status-icon span{
	margin-top: 4px;
	display: inline-block;
}
.wcast-shipment-status-icon .icon-invalid_user_key:before{	 
	content: ' ';
    background-image: url(icons/invalid-user-key-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;	
}
.wcast-shipment-status-icon .icon-delivered:before{	 
	content: ' ';
    background-image: url(icons/delivered-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;	
}
.wcast-shipment-status-icon .icon-in_transit:before{	  
    content: ' ';
    background-image: url(icons/in-transit-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;	
}
.wcast-shipment-status-icon .icon-pre_transit:before{	
    content: ' ';
    background-image: url(icons/pre-transit-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;    
}
.wcast-shipment-status-icon .icon-out_for_delivery:before{	
    content: ' ';
    background-image: url(icons/out-for-delivery-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;	
}
.wcast-shipment-status-icon .icon-available_for_pickup:before{	
    content: ' ';
    background-image: url(icons/available-for-picup-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;	
}
.wcast-shipment-status-icon .icon-return_to_sender:before{	 
	content: ' ';
    background-image: url(icons/return-to-sender-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.wcast-shipment-status-icon .icon-failure:before{	  
	content: ' ';
    background-image: url(icons/failure-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.wcast-shipment-status-icon .icon-unknown:before{	  
	content: ' ';
    background-image: url(icons/unknown-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.wcast-shipment-status-icon .icon-pending_trackship:before{	  
	content: ' ';
    background-image: url(icons/pending-trackship-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-delivered:before{
	content: ' ';
    background-image: url(icons/delivered-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-in_transit:before{
	content: ' ';
    background-image: url(icons/in-transit-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-pre_transit:before{
	content: ' ';
    background-image: url(icons/pre-transit-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-out_for_delivery:before{
	content: ' ';
    background-image: url(icons/out-for-delivery-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-available_for_pickup:before{
	content: ' ';
    background-image: url(icons/available-for-picup-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-return_to_sender:before{
	content: ' ';
    background-image: url(icons/return-to-sender-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-failure:before{
	content: ' ';
    background-image: url(icons/failure-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-unknown:before{
	content: ' ';
    background-image: url(icons/unknown-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-pending_trackship:before{
	content: ' ';
    background-image: url(icons/pending-trackship-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.ast-shipment-status .icon-invalid_user_key:before{
	content: ' ';
    background-image: url(icons/invalid-user-key-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

.wcast-shipment-status-icon i {
	font-size: 25px;
	margin-top: 7px;
}
.icon-delivered {
	color: #4cae51;
}
.icon-in_transit {
	color: #01a9f4;
}
.icon-return_to_sender {
	color: #f44336;
}
.icon-pending_trackship {
	color: #CCCC00;
}
.wcast-shipment-est-delivery {
	display: block;
}
.showif_has_est_delivery_0, .showif_has_est_delivery_1 {
	display: none;
}
.has_est_delivery_1 .showif_has_est_delivery_1 {
	display: inline;
}
.has_est_delivery_0 .showif_has_est_delivery_0 {
	display: block;
}
.post-type-shop_order .wp-list-table .column-woocommerce-advanced-shipment-tracking {
	width: 20ch;
	padding: .5em;
}
.post-type-shop_order .wp-list-table .column-shipment_status {
	width: 20ch;
	padding: .5em;
}
.ast-shipment-tracking-status {
	font-weight: 600;
}
.ft11 {
	font-size: 11px;
}
.wcast-tracking-number-list li, .wcast-shipment-status-list li {
	position:relative;
	border: 1px solid #eee;
    padding: 5px 10px;
    min-height: 50px;
    box-sizing: border-box;
}
a.inline_tracking_delete{
	display:none;
	position: absolute;
    top: 5px;
    right: 5px;
    font-size: 11px;
    color: #a00;    
}
a.inline_tracking_delete span.dashicons{
	width: 16px;
    height: 16px;
    font-size: 16px;
}
.wcast-tracking-number-list li:hover a.inline_tracking_delete{
	display:block;
}
ul.wcast-tracking-number-list, ul.wcast-shipment-status-list {
	margin: 0;
}
.wcast-tracking-number-list li:last-child, .wcast-shipment-status-list li:last-child {
	margin-bottom: 0;
}

.shipping_provider_table .tr_add input[type=text]{
	width: 40%;
}
.shipping_provider_table .tr_add .select2-container{
	width: 40% !important;
}
.provider_tr.tr_add td:last-child{
	text-align: left;
}
.shipping_provider_table a.remove{
	line-height: 32px;
}
.custom_provider_table{
	border-spacing: 0;
    border: 0;
}
.custom_provider_table tr td{
	border: 0 !important;
}
.provider_tr .on_edit_show td{
	text-align: left;
}
.shipping_provider_table .on_edit_show input[type=text]{
	width: 40%;
	margin-bottom: 10px;
}
.shipping_provider_table .on_edit_show .select2-container{
	width: 40% !important;
	margin-bottom: 15px;
}
.shipping_provider_table .on_edit_show .custom_provider_country{
	width: 40% !important;
	margin-bottom: 10px;
}
.shipping_provider_table .on_edit_show{
	text-align: left !important;
	padding:16px 20px;
}
.select2-results .select2-results__group, .select2-results .select2-results__option{
	padding: 4px;
}
a.cancel_edit {
    line-height: 32px;
    padding: 2px 4px;
}
.email_status_span{
	float: right;
	padding-top: 7px;	
}
.edit_customizer_a{	   
    margin-left: 10px;
    line-height: 20px;
	font-size: 13px;
	text-decoration: none
}
.edit_customizer_a:focus,.edit_customizer_a:hover{
	outline:none;
	box-shadow:none;
}
.row-actions{
	position: relative;
    left: -9999em;
}
.ac-container .headig_label .edit_customizer_a{
	display:none;
}
.ac-container .headig_label:hover .edit_customizer_a{
	display:inline-block;
}
.woocommerce_page_woocommerce-advanced-shipment-tracking #wpcontent, .woocommerce_page_woocommerce-advanced-shipment-tracking#wpfooter{
	background: #f9f9f9;
}
.ast_admin_content{
	background: #f9f9f9;
}
#wc_ast_settings_form,#wc_ast_trackship_form,#wc_ast_upload_csv_form {
    padding: 10px;
}
.trackship_logo{
	width: 200px;
    height: auto;
}
.text-center{
	text-align:center;
}
.trackship_section .heading{
	font-size: 25px;
}
.trackship_button{
	background-color: #83bd31;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .03em;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    color: currentColor;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    padding: 15px 30px;
    max-width: 100%;    
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    color: #fff;
    border-radius: 10px;
}
.trackship_button:hover{
	color: #fff;
}
.section-title {
    position: relative;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
	font-size: 20px;
}
.section-title b {
    display: block;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}
.section-title-center span{
	text-align: center;
	margin: 0 15px;
	text-transform: uppercase;
}
.col-4{
	max-width: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
	position: relative;
    margin: 0;
    padding: 0 15px 30px; 
	box-sizing:border-box;	
}
.row-box-shadow-1{
	 width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.row-box-shadow-1 .col-inner{
	padding: 20px 20px 20px 20px;
	background: #edf2f7;
	box-shadow: 0 1px 3px -2px rgba(0,0,0,0.12), 0 1px 2px rgba(237, 242, 247, 0.24);
	transition: transform .3s, box-shadow .3s, background-color .3s, color .3s, opacity .3s;
	height:100%;
	box-sizing:border-box;
}
.featured-box h4{
	color: #071d57;
	font-size: 17px;
    line-height: 23px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.multiple_checkbox .mdl-switch.is-upgraded{
	padding-left: 42px;
	margin-bottom: 6px;
}
.multiple_label{
	font-weight:500;
	line-height: 23px;
}

@media screen and (max-width: 1260px) and (min-width: 1151px) {
.ac-container article .variable_div {
	display: none;
}
#add_new_status_email_form .variable_div {
	display: none !important;
}
.ac-container article .variable_div.variable_before_content {
	display: block;
}
#add_new_status_email_form .variable_div.variable_before_content {
	display: block !important;
}
.ac-container article .variable_div.variable_before_content {
	width: 625px;
	float: none;
	padding: 12px;
}
#add_new_status_email_form .variable_div.variable_before_content {
	width: 625px;
	float: none;
}
.ac-small .form-table .wp-editor-wrap, #add_new_status_email_form .form-table .wp-editor-wrap {
	width: 625px;
}
.ac-container input:checked ~ article.ac-small {
	height: 990px;
}
}

@media screen and (max-width: 1150px) {
	.ast_admin_content {
		display: block;
	}
	.zorem_admin_sidebar {
		width: auto;
		display: block;
	}
	#add_new_status_email_form .variable_div {
		display: none !important;
	}
	#add_new_status_email_form .variable_div.variable_before_content {
		display: block !important;
	}
	.ac-container article .variable_div.variable_before_content {
		display: block;
	}
	.ac-container article .variable_div.variable_before_content, #add_new_status_email_form .variable_div.variable_before_content {
		width: 625px;
		float: none;
		padding: 12px;
	}
	.ac-small .form-table .wp-editor-wrap, #add_new_status_email_form .form-table .wp-editor-wrap {
		width: 625px;
	}
}

@media screen and (max-width: 650px) {
	label.tab_label:before {
		margin: 0;
		font-size: 18px;
	}
}

@media screen and (max-width: 400px) {
	label.tab_label {
		padding: 15px;
	}
}
.widefat .column-wc_actions a.delivered_icon.button::after { font-family: woocommerce; content: "\e01a"; }
.widefat .column-wc_actions a.add_inline_tracking.button::after { content: "\f230"; }

.provider {
   padding: 10px 5px 10px 10px;
   border: 1px solid #ccc;
   display: inline-block;
   width: 16%;   
   margin-bottom: 10px;
   margin-right: 7px;   
   vertical-align: top;
   min-height: 110px;
   box-sizing: border-box;
   background: #eee;
}
.provider_list {        	
}
.provider-thumb{
    height: 50px;	
}
.left-div {
    display: inline-block;
	vertical-align: middle;
	width: 30%;
}
.right-div {
    display: inline-block;
	vertical-align: middle;
    margin-left: 8px;
	width: 62%;
}
span.provider_name {
    font-weight: 500;
	font-size: 14px;
}
.row-1 {
    margin-bottom: 5px;
}
.row-2 {
    margin-top: 10px;
}
.default-provider {
    float: left;
}
.checked-img {
    width: 18px;
	display: inline-block;
    vertical-align: bottom;
}
.provider-status {
    float: right;
	padding-right: 10px;
}
.row-2:after{
	content:'';
	clear:both;
	display: block;
}
.active_provider {
    border: 1px solid rgba(131, 189, 49, 0.5);
	background: #fff;
}
.status_filter {
    margin: 10px 8px 10px 0;
	display:inline-block;
}
.status_filter a{
	padding: 0 5px;
	text-decoration: none;
}
a.active{
	color:#83bd31;
}
.search_section {
   display: inline-block;
   float: right;   
}
#search_provider{
	width: 264px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
	padding-left: 30px;
}
.search_section .search-icon{
	position: absolute; 
	padding: 5px;
}
.provider_settings {
    display: inline-block;
    float: right; 
    margin-top: 5px;
    margin-left: 5px;	
}

.provider_top:after{
	content:'';
	clear:both;
	display:block;
}
.provider_top {
    position: relative;
	margin-bottom: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;	
	background-color: #f9f9f9;
	min-width: 220px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;  
	border: 1px solid #ccc;
	padding: .5rem;
	margin-top: 0;
}
.dropdown-content li {
    margin-bottom: 0;
	border-bottom: 1px solid #ebeef2;
	padding: .5rem;
}
.dropdown-content li a {
	color: black;	
	text-decoration: none;
	display: block;
	
}
.dropdown-content li a.reset_active,.dropdown-content li a.reset_inactive{
	display: inline-block;
	color: #0073aa;
}
.dropdown-content li:last-child{
	border-bottom: none;
}
.dropdown-content li:hover {background-color: #f1f1f1;}
/*.dropdown:hover .dropdown-content {display: block;}*/

.dropdown_menu{
	cursor: pointer;
	padding: 0 5px 10px;
}
.dropdown-content:before{
	content: '';
    width: .75rem;
    height: .75rem;
    position: absolute;
    z-index: 1;
    top: -0.375rem;
    right: 8px;
    background-color: #fff;
    transform: rotate(45deg);
    /* box-shadow: -1px -1px 1px rgba(0,0,0,0.125); */
    border: 1px solid #aebacc;
    border-width: 1px 0 0 1px;
    margin-top: -1px;
}
.mdl-dialog.add_custom_dialog{
	width: 600px;
}
.add_custom_dialog .mdl-dialog__title{
	font-size: 30px;
}

.popupwrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
	width: 100%;
	height: 100%;
	text-align: center;
}

.trackingpopup_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
	width: 100%;
	height: 100%;
	text-align: center;
}

.popupwrapper:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.trackingpopup_wrapper:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.popuprow {
	display: inline-block;
	vertical-align: middle;
	max-width: 300px;
	background: #f9f9f9;
	padding: 30px;
	position: relative;
	z-index: 10;
	border-radius: 2px;
	width: 97%;
	width: calc(100% - 5px);
	max-height: 90%;
	overflow-y: overlay;
}
.trackingpopup_row {
	display: inline-block;
	vertical-align: middle;
	max-width: 300px;
	background: #f9f9f9;
	padding: 30px;
	position: relative;
	z-index: 10;
	border-radius: 2px;
	width: 97%;
	width: calc(100% - 5px);
	max-height: 90%;
	overflow-y: overlay;
}
.popupclose {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
	left: 0;
}
.popupwrapper input[type=text],.trackingpopup_wrapper input[type=text]{		
	line-height: 24px;	
	color: #0d0d0d;		
	width: 90%;
	margin-bottom: 10px;
	/*border: 1px solid #ddd !important;*/
}
.popupwrapper input[type=text].image_path,.trackingpopup_wrapper input[type=text].image_path{
	width: 68%;
}
.popupwrapper select,.popupwrapper .select2,.trackingpopup_wrapper select,.trackingpopup_wrapper .select2{	
    line-height: 24px;
    color: #0d0d0d;    
    width: 90%;
    margin-bottom: 10px;
    height: 32px;
	/*border: 1px solid #ddd !important;*/
}
.close-button{	  
	background: #000 none repeat scroll 0 0;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
	position: absolute;
    bottom: 8px;
    right: 10px;
    height: 34px;
}
.provider-status .mdl-switch{
	width: auto;
}
.provider .edit_provider,.provider .remove{
	display:none;
	cursor:pointer;
}
.provider:hover .edit_provider{
	display:inline-block;
}
.provider:hover .remove{
	display:inline-block;
}
.provider a {
    text-decoration: none;
    color: #444;
}
h1.plugin-title {
	padding: 20px 10px 10px 10px;
    font-size: 1.7em;
    color: #071d57;
}
.disable_label span {
    color: #999;
}
.synch_result{
	display:none;
	margin: 20px 0;
}
.wp-core-ui .button-primary.close_synch_popup{
	display:none;	
}
.synch_result li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 15px;
}
.sync_provider_popup .spinner{
	display:none;
	height: 25px;
}
.spinner.active{
	display: inline-block;
}
.shipment_about{
	margin:0;
    line-height: 20px;	
}
.disabled_link{
	pointer-events: none;
	cursor: default;
}
.delivered_enabel p.disable_delivered {
    display:block;
	margin:0;
    line-height: 20px;	
}
.delivered_enabel p.shipment_about{
	display: none;
}
p.delivered_message {
    display: none;
}
.email-icon{
	position: absolute;
    left: 10px;
	top: 17px;
    width: 35px;
}
.woocommerce.zorem_admin_layout table.form-table{
	background: #fff;
    border: 2px solid #eee;    
    margin-top: 20px;
	margin-bottom: 10px;
}
.ast_admin_content div.submit{
	padding: 0;
}
.woocommerce.zorem_admin_layout table.form-table th{
	padding: 20px 24px 20px 15px;
}
.woocommerce.zorem_admin_layout table.form-table p.description{
	font-size: 0.9em;
}
p.tracking-preview-desc {
    font-style: italic;
    font-size: 0.9em;
}

.updated_details {
    margin-top: 10px;
	display:none;
}
.view_synch_details{
	display:none;
	padding-top: 5px;
}
.updated_details li {
    display: inline-block;
    border-bottom: 0;
    padding-bottom: 0;
    background: #071d57;
    color: #fff;
    padding: 5px;
	border-radius: 3px;
}
.woocommerce.zorem_admin_layout table.form-table select{
	width: 100%;
	max-width: 400px;
}
.trackship-icon{
	width: 70px;
}
.add_tracking_number_form .form-field{
	margin: 0;
	text-align:left;
}
.add_tracking_number_form input[type=checkbox]{
	margin: 0px 4px 0 4px;
}
.d_table{
	display:table;
	width: 100%;
}
.zorem_admin_layout h4{
	margin: 1.33em 0;
}
.zorem_admin_layout h3{
	margin: 1em 0;
}
.ts_description{
	width: 80%;
    margin: 1em auto;
}

/*** Dashboard Widget CSS ***/
.ast-dashborad-widget.row{
	width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.ast-dashborad-widget.row .large-6 {
    max-width: 47%;
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
	position: relative;
	border: 1px dashed #ddd;
	padding: 5px;
}
.bulk_shipment_status_success{
	color:#83bd31;
	margin-top:10px;
}
@media screen and (min-width: 1850px) {
	.provider{
		padding:10px;
	}
	.right-div{
		margin-left:10px;
	}
}
@media screen and (min-width: 1215px) and (max-width: 1465px) {
	.provider {
		width: 19%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1214px) {
	.provider{
		width: 23%;
	}
	#search_provider{
		width: 200px;
	}
	.provider-thumb {
		height: 40px;
	}
	.right-div{
		 width: 60%;
	}
}
@media screen and (max-width: 750px) {
	.d_table{
		display:block;
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.provider{
		width: 30.8%;
	}
	.search_section .search-icon{
		padding: 8px 5px;
	}
	.provider_top {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 500px) {
	.provider{
		width: 47%;
	}
	.search_section{
		display: block;
		float: none;
		margin-bottom: 10px;
	}
	.search_section .search-icon{
		padding: 10px 5px;
	}
	#search_provider{
		width: 100%;
	}
}