#accordion-section-default_controls_section>h3:before{
	font-family: 'Dashicons';
    font-size: 20px;
    font-weight: thin !important;
    position: relative;
    line-height: 0;
    vertical-align: middle;
    opacity: .6;
    top: -1px;
	content: "\f230";
}
#accordion-panel-wcast_emails_panel>h3:before{
	font-family: 'Dashicons';
    font-size: 20px;
    font-weight: thin !important;
    position: relative;
    line-height: 0;
    vertical-align: middle;
    opacity: .6;
    top: -1px;
	content: "\f465";
}
#accordion-panel-wcast_naviation_panel>h3:before{
	font-family: 'Dashicons';
    font-size: 20px;
    font-weight: thin !important;
    position: relative;
    line-height: 0;
    vertical-align: middle;
    opacity: .6;
    top: -1px;
	content: "\f231";
}
#accordion-section-customer_delivered_email>h3:before{
	content: ' ';
    background-image: url(icons/delivered-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
#accordion-section-customer_failure_email>h3:before{
	content: ' ';
    background-image: url(icons/failure-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
#accordion-section-customer_intransit_email>h3:before{
	content: ' ';
    background-image: url(icons/in-transit-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
#accordion-section-customer_outfordelivery_email>h3:before{
	content: ' ';
    background-image: url(icons/out-for-delivery-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
#accordion-section-customer_delivered_status_email>h3:before{
	content: ' ';
    background-image: url(icons/delivered-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
#accordion-section-customer_returntosender_email>h3:before{
	content: ' ';
    background-image: url(icons/return-to-sender-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
#accordion-section-customer_availableforpickup_email>h3:before{
	content: ' ';
    background-image: url(icons/available-for-picup-v4.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

#accordion-section-tracking_page_section>h3:before{
	font-family: 'Dashicons';
    font-size: 20px;
    font-weight: thin !important;
    position: relative;
    line-height: 0;
    vertical-align: middle;
    opacity: .6;
    top: -1px;
	content: "\f231";
}

/* Mobile preview */
.preview-mobile #customize-preview iframe {
	width:606px;
    height: 1500px;
    -ms-transform: scale(0.50);
    -moz-transform: scale(0.50);
    -o-transform: scale(0.50);
    -webkit-transform: scale(0.50);
    transform: scale(0.50);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.preview-mobile .wp-full-overlay-main {
    overflow-y:scroll;
    overflow-x:auto;
}

/* Template Control */
.customize-control-kwdtemplateload .image-radio-select label {
	display: block;
    height: auto;
    float: none;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 8px 0;
    box-shadow: none;
    box-sizing: border-box;
}
#customize-controls .customize-control-kwdtemplateload label img {
	border: 4px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    height: auto;
    max-width: 100%;
    padding: 1px;
}
#customize-controls .customize-control-kwdtemplateload label.ktactive img {
	border-color: #00a0d2;
}
.customize-control-kwdtemplateload .kt-template-woomail-load-controls:after {
    clear: both;
    display: table;
    content: '';
}
.customize-control code {
    padding: 10px;
    display: block;
	background: #f9f9f9;
    color: #505050;
}
#customize-controls li.customize-control h3{
	margin-top: 4px;
}